@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Changa:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@800&display=swap');
:root {
  --text: #6b6375;
  --text-h: #08060d;
  --color-background: rgb(17, 0, 255);
  --color-primario: rgb(0, 102, 255);
  --color-secundario: rgb(242, 247, 0);
  --color-terciario: rgb(255, 0, 0);
  --color-cuaternario: rgb(255, 255, 255);
  --color-quintenario: rgb(0, 0, 0);
  --font-display: 'Changa', sans-serif;
  --font-heading: 'Bebas Neue', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
  background-color: var(--color-background);
}



